html {
    box-sizing: border-box;
}

*,
*: before,
*: after {
    box-sizing: inherit;
}

.site-container {
    max-width: 1200px;
}

body {
    background-color: #cce6ff;
}

#container {
    width: 900px;
    margin: auto;
}

#form {
    width: 700px;
    margin: auto;
    margin-bottom: 3em;
    background-color: #f9f7ea;
    -webkit-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: 5px 5px 5px 5px #d4d4d4;
    box-shadow: 5px 5px 5px 5px #d4d4d4;
}

legend {
    font-family: 'Raleway', sans-serif;
    color: #4c4949;
    font-size: 3em;
    text-align: center;
    padding: 1.5em;
}

label {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2em;
    color: #4c4949;
    margin-left: 1em;
    padding: 1em 3em 1em 3em;
}

input[type="text"],
textarea {
    border: 0.3em #393838;
    padding: 0.8em;
}

input[type="email"] {
    border: 0.8empx #393838;
    padding: 2em;
    margin-left: 3em;
}

textarea {
    margin-left: 15px;
    padding: 4px;
}

#buttons {
    margin-left: 500px;
}

input[type="submit"] {
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ff6666;
    color: white;
}

input[type="submit"]:hover {
    background-color: #524040;
}
