html {
    box-sizing: border-box;
}

*,
*: before,
*: after {
    box-sizing: inherit;
}

.site-container {
    max-width: 1200px;
}

body {
    background-color: #ffe6e6;
    font-family: 'Cabin', sans-serif;
    align-content: center;
}

#container {
    width: 85%;
    margin: auto;
    padding: 2em;
    background-color: #ffffff;
    border-radius: 3em;
}

#ashleylogo,
#ashley {
    display: inline-block;
    padding: 0.3em;
}

nav ul li {
    display: inline-block;
    padding-right: 1.2em;
}

nav ul li a,
h3 a {
    color: #262626;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.3em;
}

.btn {
    font-size: 1.3em;
    width: 14em;
    text-align: center;
    margin-bottom: 0.8em;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    margin-top: 0.3em;
    border-radius: 3em;
    -webkit-box-shadow: 0 0.3em 1em #666666;
    -moz-box-shadow: 0 0.3em 1em #666666;
    box-shadow: 0 0.3em 1em #666666;
    background: #ff6699;
    padding: 0.5em 1em 0.5em 1em;
    color: #ffffff;
    border: solid #ffffff 0.1em;
    text-decoration: none;
}

.btn:hover {
    background: #cce6ff;
}
